.statsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.2rem;}